<section class="section services py-5" style="background-color: #ffffff; color: #460072;">
  <div class="container">
    <div class="row justify-content-left pb-5">
      <div class="col-12 col-xl-6">
        {{ with .content.title }}
          <h3 class="fs-1 fw-bold text-left text pb-1" style="color: #460072;">{{ . }}</h3>
        {{ end }}
        {{ with .content.text }}
          <p class="fs-5 text-left pb-1" style="color: #460072;">{{ . }}</p>
        {{ end }}
      </div>
    </div>
    <div class="row g-5">
      {{ range $i, $e := .content.cards }}
        <div class="col-12 col-xl-4 {{ if or (eq $i 0) (eq $i (sub (len $.content.cards) 1)) }}extend-edge-card{{ end }}">
          <div class="card bg-blue-16 border-0 border-radius-0 p-4" style="background-color: #460072;">
            {{ with .image }}{{ partial "utilities/image-fluid.html" . }}{{ end }}
            <div class="card-body text-center">
              {{ with .title }}<h4 class="card-title text-center text pb-4" style="color: #ffffff;">{{ . }}</h4>{{ end }}
              {{ with .text }}<p class="fs-6 text-center text pb-3" style="color: #ffffff;">{{ . }}</p>{{ end }}
              {{ with .button }}<a class="btn btn-outline-primary px-4" style="color: #ffffff; border-color: #ffffff !important;" href="{{ .url }}">{{ .label }}</a>{{ end }}
            </div>
          </div>
        </div>
      {{ end }}
    </div>
  </div>
</section>
